body{
	padding:50px;
	font-family: brownstd;
	overflow:hidden;
	background-color:#f7f3f2;

}
ul{
	list-style: none;
	font-size:8pt;
	line-height: 10pt;
	position: relative;
	top:-30px;
	left:-20px;
	

}
.left{
	float:left;
}
.right{
	float: right;
}
.circle1,.circle2,.circle3,.circle4{
	width:150px;
	height:150px;
	border-radius:50%;
	
	font-size: 12pt;
	text-align: center;
	line-height: 70px;
	margin-bottom: 15px;
	font-weight: normal;

}
.circle5,.circle6,.circle7,.circle8,.circle9{
	width:130px;
	height:130px;
	border-radius:50%;
	
	font-size: 12pt;
	text-align: center;
	line-height: 60px;
	margin-bottom: 15px;
	font-weight: normal;
}

.circle1{
	background : rgba(237, 25, 117, .3);
	color:rgba(237, 25, 117);
	margin-top:30px;
}



.circle2{
	background : rgba(77, 183, 72, .3);
	color: rgba(77, 183, 72);
}
.circle3{
	background : rgba(109, 199, 179, .3);
	color:rgb(91,192,169);
}
.circle4{
	 background : rgba(248, 151, 29, .3);
	 color: rgba(248, 151, 29);
}
.circle5{
	background-color: #E9CB1C4D;
	color:#e8b81f;
}
.circle6{
	background-color: #6CCBDA4D;
	color:#6CCBDA;
	line-height: 20px;
}
.social{
	position: relative;
	top:-10px;
}
.circle7{
	background-color: #d3222f4D;
	color:#d3222f;
	line-height: 20px;
}
.mother{
	position: relative;
	top:-10px;
}
.circle8{
	background-color: #984f9e4D;
	color:#984f9e;
}
.circle9{
	background-color: #0000004D;

}
#middle{

}
#elephant{
	width: 950px;
	position: relative;
	left:3%;

}

.kick{
	 animation-name: kick;
	 animation-timing-function: linear;
	 animation-duration: 1s

}
@keyframes kick{
0%{
	transform:rotate(0deg);

}
50% {
	transform: rotate(10deg);
}
100%{
	transform: rotate(0deg);
}
}

/* #left_front_leg{
	transform: rotate();
} */

#lil_ele{
	width: 300px;
	position: relative;
	top:-250px;
	left:442px;
}

.hidden{
	opacity: 0;
}

.show{
	opacity: 1;
}











