@charset "utf-8";
	.st0
{
	background : #CD9B37;
	background : rgba(205, 155, 55, 1);
	position : absolute ;
	left : 600px;
	top : 617px;
	width : 91px;
	height : 182px;
}
.st1
{
	background : #ECB73E;
	background : rgba(236, 183, 62, 1);
	position : absolute ;
	left : 619px;
	top : 0px;
	width : 50px;
	height : 50px;
}
.st2
{
	background : #CD9B37;
	background : rgba(205, 155, 55, 1);
	position : absolute ;
	left : 374px;
	top : 617px;
	width : 41px;
	height : 182px;
}
.st3
{
	background : #ECB73E;
	background : rgba(236, 183, 62, 1);
	position : absolute ;
	left : 895px;
	top : 32px;
	width : 52px;
	height : 64px;
}
.st4
{
	background : #ECB73E;
	background : rgba(236, 183, 62, 1);
	position : absolute ;
	left : 344px;
	top : 32px;
	width : 52px;
	height : 64px;
}
.st5
{
	background : #CD9B37;
	background : rgba(205, 155, 55, 1);
	position : absolute ;
	left : 860px;
	top : 617px;
	width : 41px;
	height : 182px;
}
.st6
{
	background : #ECB73E;
	background : rgba(236, 183, 62, 1);
	position : absolute ;
	left : 314px;
	top : 588px;
	width : 651px;
	height : 28px;
}
.st7
{
	background : #9A9492;
	background : rgba(154, 148, 146, 1);
	position : absolute ;
	left : 630px;
	top : 64px;
	width : 16px;
	height : 16px;
}
.st8
{
	background : #ECB73E;
	background : rgba(236, 183, 62, 1);
	position : absolute ;
	left : 520px;
	top : 49px;
	width : 254px;
	height : 48px;
}
.st9
{
	background : #ECC371;
	background : rgba(236, 195, 113, 1);
	position : absolute ;
	left : 314px;
	top : 552px;
	width : 651px;
	height : 36px;
}
